{% extends 'base.html' %}

{% block title %}
	Обновление статьи
{% endblock %}

{% block main %}
	<h1>Обновление статьи</h1>
	<form method="post">
		<label for="title" class="label label-default label-info">Заголовок:</label>
		<input type="text" name="title" id="title" class="form-control" value="{{ article.title }}"/><br/>
		<label for="intro" class="label label-default label-info">Введение:</label>
		<textarea name="intro" id="intro" class="form-control">{{ article.intro }}</textarea><br/>
		<label for="text" class="label label-default label-info">Текст:</label>
		<textarea name="text" id="text" class="form-control">{{ article.text }}</textarea><br/>
		<input type="submit" class="btn btn-success" value="Обновить"/>
	</form>
{% endblock %}